
@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';

@import '../../node_modules/normalize.css/normalize';
@import 'variables';

@import 'blockquotes';
@import 'code';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wdth,wght@97.8,533;100,300;100,400&display=swap');
@import 'technology';
@import 'techcontent';

body {
    background-color: $background-color;
}

* {
    color: $font-color;
}

* {
    font-family: 'Open Sans', sans-serif;
}
.container {
    border: 2px solid rgb(2, 2, 2);
    margin-top: auto;
}
.mainx {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
