
@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';

@import '../../node_modules/normalize.css/normalize';
@import 'variablesDark';

@import 'blockquotes';
@import 'code';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wdth,wght@97.8,533;100,300;100,400&display=swap');
@import 'technology';
@import 'techcontent';

body {
    background-color: $background-color;
}

* {
    color: $font-color;
}

* {
    font-family: 'Open Sans', sans-serif;
}

.container {
    background: $container-color;
    border-bottom: 2px solid rgb(2, 2, 2);
    border-top: 2px solid rgb(2, 2, 2);
    margin-top: auto;
}

.mainx {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    margin: 0 auto;
    max-width: 900px;
}

.article {
    overflow: auto;
    background: $article-color;
    border-left: 1px solid $article-bord-color;
    border-right: 1px solid $article-bord-color;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    color: $article-text-color;
    line-height: 1.5;
}

.site-header {
    padding-left: 2em;
    padding-top: 10px;
    background: $header-color;
}


.socialx {
    text-align: right;
    font-size: 24px;
    padding-left: 5px;
    padding-right: 2em;
    padding-top: 5px;
    padding-bottom: 5px;
    
}

.social {
    text-align: right;
    font-size: 24px;
    padding-left: 5px;
    padding-right: 2em;
    padding-top: 5px;
    padding-bottom: 10px;
    
}

.navx {
    background: $navbar-color;
    text-align: right;
}

.navx a {
    display: inline-block;
    padding: 7px 20px;
    color: #fff;
    text-decoration: none;
    padding-right: 4em;
}

.navx ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navx li {
    display: inline;
}

.navx a:hover {
    color: #EEE;
    background-color: $navbar-hover-color;
}

.site-header {
    padding-bottom: 1em;
}

.twitter {
    width: 600px;
    height: auto;
    box-shadow: 1px 1px 10px $img-shadow;
}

.elva {
    filter: $img-bright;
    width: 600px;
    height: auto;
    box-shadow: 1px 1px 10px $img-shadow;
}

.polis {
    filter: $img-bright;
    width: 600px;
    height: auto;
    box-shadow: 1px 1px 10px $img-shadow;
}

code {
    background-color: $box-background-color;
}

.box {
    color: $big-box-text-color;
    background: $big-box-color;
}