
.subpage {
    display: grid;
    gap: 2em 2em;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto); /* Adjust as needed */
    grid-template-rows: 100px 200px 150px 120px;
    grid-gap: 50px;
    text-align: center;
    margin-bottom: 2em;
    padding-bottom: 2em;
}


.techcontent {
    
    grid-row-start: 1;
    grid-column-start: 2;
    grid-column-end: 4;
    padding-top: 2em;
    margin-bottom: 20px;
}

.techs {
    grid-row-start: 2;
    margin-bottom: 2em;
    padding-bottom: 2em;
}

.techsx {
    margin-bottom: 1em;
    
    border-right: 2px solid rgb(6, 6, 6);
    background-color: rgb(245, 245, 245);
}

@media screen and (max-width: 600px) {
    .subpage {
        display: block;
    }
}