$font-color: #fffc;
$font-alternative-color: #fff;

$accent-color: #ee6c4d;
$background-color: #80793d;
$background-alternative-color: #e0fbfc;

$container-color: #34343448;

$article-color: #3030309c;
$article-text-color: rgba(215, 211, 211, 0.639);

$header-color: #2222229c;

$navbar-color: #34343472;
$navbar-hover-color: #11087640;

$img-shadow: #888;
$box-background-color: #1f1f1fbd;