$font-color: rgb(255 255 254 / 64%);
$font-alternative-color: #fff;

$accent-color: #ee6c4d;
$background-color: #22222b;
$background-alternative-color: #e0fbfc;

$container-color: #34343448;

$article-color: rgb(24 26 34 / 61%);
$article-text-color: rgba(215, 211, 211, 0.639);
$article-bord-color: #372f0a;

$header-color: #2222229c;

$navbar-color: #34343472;
$navbar-hover-color: #766b0840;

$img-shadow: #888;
$img-bright: brightness(80%) contrast(120%) grayscale(10%);

$box-background-color: #230303;

$big-box-color: #3c391d;
$big-box-text-color: rgb(255 255 255);